.welcome-title {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  transition: ease-in-out;
}

.required {
  position: relative;
  padding: 2px;
  color: red;
  font-size: small;
}

.auth-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 30px auto;
}

@media (max-width: 600px) {
  .auth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    margin: 30px auto;
  }
  .welcome-title {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-in-out;
  }
}
