body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

placeholder {
  font-size: 8px !important;
  color: grey;
}

.navbar.scrolled {
  background: rgb(223, 198, 223);
  transition: background 500ms;
}
